html{
    font : 80%/1.4 Verdana, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

sidebar{
    display: flex;
    flex-direction: column;
    background-color: #272727;
    color: white;
    width: 350x;
    padding: 5px;
}

sidebar > div > div {
    padding: 10px;
}

sidebar > button{
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgb(69, 69, 69);
    border-radius: 5px;
    padding : 10px;
    color: white;
    text-align: left;
    
}

hr{
    border: 1px solid rgb(66, 67, 80);
}

main > h1{
    text-align: center;
}

#conversations{
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(52,53,65,var(--tw-bg-opacity));
    color: white;
    justify-content: center;
}

main > div{
    display: flex;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

main > div > section{
    padding : 10px;
}

main > div > section > div{
    padding: 10px;
    background-color:   rgb(66, 67, 80);
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

main > div > section > h2{
    text-align: center;
}

main > h1{
    margin-top: 200px;
}

main > form{
    display: flex;
    flex-direction: column; 
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#examples{
    display: flex;
    height: 100%;
}


main > form > input{
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(69, 69, 69);
    background-color: rgba(0,0,0,0.1);
    color: white;
}